@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg-primary: #0C1325;
    --color-bg-secondary: #0F172A;
    --color-bg-tertiary: #1E293B;
    --color-primary: #2DD4BF;
    --color-primary-alt: rgba(43, 212, 189, .2);
    --color-text: white;
    --color-text-alt: #6A778B;
    --color-red: #FF6388;
    --color-red-alt: rgba(255, 97, 134, .2);
}

body {
    background-color: var(--color-bg-primary);
}

main {
    padding: 2rem 5%;
}